<!DOCTYPE html>
<head>
<title>{{page.name}}</title>
<meta charset="utf8"/>
<link rel="icon" href="img/hsphere.ico" type="image/x-icon" />
<style>
img { max-width: 99%; }
</style>
</head>
<body>

<div class=content>
{{content}}
</div>
<hr>
<div id=panel data-gradualid="{{gradual}}WikiDefault"><a href=https://gradual-quanta.github.io/qwiki/#{{gradualid}}>[...]</a> This page is part of
<a href=https://www.jsdelivr.com/package/gh/gradual-quanta/qwiki>#{{gradual}}wiki.</a></div>
</div>
<p>{{site.data.qm.qm}}
<script src=js/hololink.js></script>
<!-- https://www.jsdelivr.com/package/gh/gradual-quanta/qwiki -->
{% if JEKYLL_ENV == "production" %}
<script src=https://cdn.jsdelivr.net/gh/gradual-quanta/qwiki@master/js/qwiki.js></script>
{% else %}
<script src=https://cdn.jsdelivr.net/gh/gradual-quanta/qwiki@master/js/qwiki.js></script>
{% endif %}
<a href=https://www.jsdelivr.com/package/gh/gradual-quanta/qwiki)>
<img src=https://data.jsdelivr.com/v1/package/gh/gradual-quanta/qwiki/badge>
</a>
</body>
<!-- alternative CDN
https://glcdn.rawgit.org/:user/:repo/:tag/:file
-->
